<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Task Manager</title>
    <link rel="stylesheet" href="../main.css">
</head>
<body>
    <form>
        <h1>Task Manager</h1>
        <div>
            <input type="text" class="task-input" name="task" required placeholder="e.g.read a book">
            <input type="submit" class="send-task">
        </div>
    </form>
    <% if(data !== 'undefined') { %>
        <div id="task-list">
            <% if(Array.isArray(data)) { %>
                <% data.forEach(task => { %>
                    <div class="task">
                        <p class="task-name"><%= task.name %></p>
                        <div class="edit-delete">
                            <img src="../IMG/edit.svg" alt="Edit Icon">
                            <img src="../IMG/delete.svg" alt="Delete Icon">
                        </div>
                    </div>
                <% }) %>

            <% } else { %>
                <div class="task">
                    <p class="task-name"><%= data.name %></p>
                    <div class="edit-delete">
                        <img src="../IMG/edit.svg" alt="Edit Icon">
                        <img src="../IMG/delete.svg" alt="Delete Icon">
                    </div>
                </div>
            <% } %>
        </div>
    <% } else { %>
        <p>NO Task!</p>
    <% } %>
    <script src="../main.js"></script>
</body>
</html>